# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Large binaries & data cache
checkpoints/*.pt
data/*.npy
data/time_index.csv
exports/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
